.main-header {
  background-color:#333;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  
}
.icon,.exit {
    /* filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(80%); */
    color:#eee;
  font-size: "1.5em";
  display: flex;
  justify-content: flex-start;
}
.main-heading {
  /* margin-left: 45%; */
  align-self: center;
  margin-top: 20px;
  color:lightgray !important;
}
/* .exit {
  margin-left:35%;
} */

